/* html basic */
*, body {
    margin: 0;
    padding: 0;
    font-family: 'Bree Serif', serif;
}

/* a properties */
a {
    cursor: pointer;
    text-decoration: none;
}

/* button properties */
button {
    border: none;
    outline: none;
    cursor: pointer;
}

/* normal button */
.nor-btn {
    width: 100%;
    padding: 9px;
    display: block;
    text-align: center;
    border-radius: 5px;
    background: transparent;
    border: 2px solid #e69900;
    font-size: 16px;
    color: #fff;
    background: #e69900;
}

/* border button */
.bor-btn {
    width: 100%;
    padding: 9px;
    display: block;
    text-align: center;
    border-radius: 5px;
    background: transparent;
    border: 2px solid #e69900;
    font-size: 16px;
    color: #e69900;
}

.bor-btn:hover {
    color: #fff;
    background: #e69900;
    transition: 0.5s;
}

/* rgb button */
.rgb-btn {
    width: 100%;
    color: #000;
    display: block;
	overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    font-size: 16px;
}

.rgb-btn:hover {
    color: #e69900;
    animation: rgb-btn-anim 1.5s linear infinite;
}

.rgb-btn span {
    margin: 2px;
    display: block;
    padding: 9px 0;
    background: #fff;
    border-radius: 4px;
}

@keyframes rgb-btn-anim {
    0% {background-position: 0px;}
    20% {background-position: 110px;}
    35% {background-position: 180px;}
    50% {background-position: 210px;}
    80% {background-position: 350px;}
    100% {background-position: 390px;}
}

@keyframes rgb-btn-anim {
    0% {background-position: 0px;}
    20% {background-position: 110px;}
    35% {background-position: 180px;}
    50% {background-position: 210px;}
    80% {background-position: 350px;}
    100% {background-position: 390px;}
}

/* basic properties */
.hide {
    display: none;
}

.center {
    top: 50%;
    left: 50%;
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
}

.text-center {
    text-align: center;
}


/* custom design */
.main_display {
    text-align: center;
}















/* margin for 5px */
.ma-5 {
    margin: 5px;
}
.mt-5 {
    margin-top: 5px;
}
.mr-5 {
    margin-right: 5px;
}
.mb-5 {
    margin-bottom: 5px;
}
.ml-5 {
    margin-left: 5px;
}

/* margin for 10px */
.ma-10 {
    margin: 10px;
}
.mt-10 {
    margin-top: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.ml-10 {
    margin-left: 10px;
}

/* margin for 15px */
.ma-15 {
    margin: 15px;
}
.mt-15 {
    margin-top: 15px;
}
.mr-15 {
    margin-right: 15px;
}
.mb-15 {
    margin-bottom: 15px;
}
.ml-15 {
    margin-left: 15px;
}

/* margin for 20px */
.ma-20 {
    margin: 20px;
}
.mt-20 {
    margin-top: 20px;
}
.mr-20 {
    margin-right: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.ml-20 {
    margin-left: 20px;
}

/* margin for 25px */
.ma-25 {
    margin: 25px;
}
.mt-25 {
    margin-top: 25px;
}
.mr-25 {
    margin-right: 25px;
}
.mb-25 {
    margin-bottom: 25px;
}
.ml-25 {
    margin-left: 25px;
}

/* padding for 5px */
.pa-5 {
    padding: 5px;
}
.pt-5 {
    padding-top: 5px;
}
.pr-5 {
    padding-right: 5px;
}
.pb-5 {
    padding-bottom: 5px;
}
.pl-5 {
    padding-left: 5px;
}

/* padding for 10px */
.pa-10 {
    padding: 10px;
}
.pt-10 {
    padding-top: 10px;
}
.pr-10 {
    padding-right: 10px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pl-10 {
    padding-left: 10px;
}

/* padding for 15px */
.pa-15 {
    padding: 15px;
}
.pt-15 {
    padding-top: 15px;
}
.pr-15 {
    padding-right: 15px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pl-15 {
    padding-left: 15px;
}

/* padding for 20px */
.pa-20 {
    padding: 20px;
}
.pt-20 {
    padding-top: 20px;
}
.pr-20 {
    padding-right: 20px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-20 {
    padding-left: 20px;
}

/* padding for 25px */
.pa-25 {
    padding: 25px;
}
.pt-25 {
    padding-top: 25px;
}
.pr-25 {
    padding-right: 25px;
}
.pb-25 {
    padding-bottom: 25px;
}
.pl-25 {
    padding-left: 25px;
}

/* font color properties */
.fc-grey {
    color: #bbb;
}

/* background color properties */
.bc-grey {
    background-color: #bbb;
}